{
  "openapi": "3.0.3",
  "info": {
    "title": "Documenso v2 API",
    "description": "Welcome to the Documenso v2 API.\n\nThis API provides access to our system, which you can use to integrate applications, automate workflows, or build custom tools.",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://app.documenso.com/api/v2"
    }
  ],
  "paths": {
    "/envelope/attachment": {
      "get": {
        "operationId": "envelope-attachment-find",
        "summary": "Find attachments",
        "description": "Find all attachments for an envelope",
        "tags": [
          "Envelope Attachments"
        ],
        "security": [
          {
            "apiKey": []
          }
        ],
        "parameters": [
          {
            "in": "query",
            "name": "envelopeId",
            "schema": {
              "type": "string"
            },
            "required": true
          },
          {
            "in": "query",
            "name": "token",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string"
                          },
                          "type": {
                            "type": "string",
                            "enum": [
                              "link"
                            ]
                          },
                          "label": {
                            "type": "string"
                          },
                          "data": {
                            "type": "string"
                          }
                        },
                        "required": [
                          "id",
                          "type",
                          "label",
                          "data"
                        ]
                      }
                    }
                  },
                  "required": [
                    "data"
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Invalid input data",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error.BAD_REQUEST"
                }
              }
            }
          },
          "401": {
            "description": "Authorization not provided",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error.UNAUTHORIZED"
                }
              }
            }
          },
          "403": {
            "description": "Insufficient access",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error.FORBIDDEN"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error.NOT_FOUND"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error.INTERNAL_SERVER_ERROR"
                }
              }
            }
          }
        }
      }
    },
    "/envelope/attachment/create": {
      "post": {
        "operationId": "envelope-attachment-create",
        "summary": "Create attachment",
        "description": "Create a new attachment for an envelope",
        "tags": [
          "Envelope Attachments"
        ],
        "security": [
          {
            "apiKey": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "envelopeId": {
                    "type": "string"
                  },
                  "data": {
                    "type": "object",
                    "properties": {
                      "label": {
                        "type": "string",
                        "minLength": 1
                      },
                      "data": {
                        "type": "string",
                        "format": "uri"
                      }
                    },
                    "required": [
                      "label",
                      "data"
                    ]
                  }
                },
                "required": [
                  "envelopeId",
                  "data"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "id"
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Invalid input data",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error.BAD_REQUEST"
                }
              }
            }
          },
          "401": {
            "description": "Authorization not provided",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error.UNAUTHORIZED"
                }
              }
            }
          },
          "403": {
            "description": "Insufficient access",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error.FORBIDDEN"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error.INTERNAL_SERVER_ERROR"
                }
              }
            }
          }
        }
      }
    },
    "/envelope/attachment/update": {
      "post": {
        "operationId": "envelope-attachment-update",
        "summary": "Update attachment",
        "description": "Update an existing attachment",
        "tags": [
          "Envelope Attachments"
        ],
        "security": [
          {
            "apiKey": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "string"
                  },
                  "data": {
                    "type": "object",
                    "properties": {
                      "label": {
                        "type": "string",
                        "minLength": 1
                      },
                      "data": {
                        "type": "string",
                        "format": "uri"
                      }
                    },
                    "required": [
                      "label",
                      "data"
                    ]
                  }
                },
                "required": [
                  "id",
                  "data"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    }
                  },
                  "required": [
                    "success"
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Invalid input data",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error.BAD_REQUEST"
                }
              }
            }
          },
          "401": {
            "description": "Authorization not provided",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error.UNAUTHORIZED"
                }
              }
            }
          },
          "403": {
            "description": "Insufficient access",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error.FORBIDDEN"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error.INTERNAL_SERVER_ERROR"
                }
              }
            }
          }
        }
      }
    },
    "/envelope/attachment/delete": {
      "post": {
        "operationId": "envelope-attachment-delete",
        "summary": "Delete attachment",
        "description": "Delete an attachment from an envelope",
        "tags": [
          "Envelope Attachments"
        ],
        "security": [
          {
            "apiKey": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "string"
                  }
                },
                "required": [
                  "id"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    }
                  },
                  "required": [
                    "success"
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Invalid input data",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error.BAD_REQUEST"
                }
              }
            }
          },
          "401": {
            "description": "Authorization not provided",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error.UNAUTHORIZED"
                }
              }
            }
          },
          "403": {
            "description": "Insufficient access",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error.FORBIDDEN"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error.INTERNAL_SERVER_ERROR"
                }
              }
            }
          }
        }
      }
    },
    "/envelope/item/create-many": {
      "post": {
        "operationId": "envelope-item-createMany",
        "summary": "Create envelope items",
        "description": "Create multiple envelope items for an envelope",
        "tags": [
          "Envelope Items"
        ],
        "security": [
          {
            "apiKey": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "payload": {
                    "type": "object",
                    "properties": {
                      "envelopeId": {
                        "type": "string"
                      }
                    },
                    "required": [
                      "envelopeId"
                    ]
                  },
                  "files": {
                    "type": "array",
                    "items": {}
                  }
                },
                "required": [
                  "payload"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string"
                          },
                          "title": {
                            "type": "string"
                          },
                          "envelopeId": {
                            "type": "string"
                          },
                          "order": {
                            "type": "number"
                          },
                          "documentDataId": {
                            "type": "string"
                          }
                        },
                        "required": [
                          "id",
                          "title",
                          "envelopeId",
                          "order",
                          "documentDataId"
                        ]
                      }
                    }
                  },
                  "required": [
                    "data"
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Invalid input data",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error.BAD_REQUEST"
                }
              }
            }
          },
          "401": {
            "description": "Authorization not provided",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error.UNAUTHORIZED"
                }
              }
            }
          },
          "403": {
            "description": "Insufficient access",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error.FORBIDDEN"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error.INTERNAL_SERVER_ERROR"
                }
              }
            }
          }
        }
      }
    },
    "/envelope/item/update-many": {
      "post": {
        "operationId": "envelope-item-updateMany",
        "summary": "Update envelope items",
        "description": "Update multiple envelope items for an envelope",
        "tags": [
          "Envelope Items"
        ],
        "security": [
          {
            "apiKey": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "envelopeId": {
                    "type": "string"
                  },
                  "data": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "envelopeItemId": {
                          "type": "string",
                          "description": "The ID of the envelope item to update."
                        },
                        "order": {
                          "type": "integer",
                          "minimum": 1
                        },
                        "title": {
                          "type": "string",
                          "minLength": 1,
                          "maxLength": 255,
                          "description": "The title of the document."
                        }
                      },
                      "required": [
                        "envelopeItemId"
                      ]
                    },
                    "minItems": 1
                  }
                },
                "required": [
                  "envelopeId",
                  "data"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string"
                          },
                          "order": {
                            "type": "number"
                          },
                          "title": {
                            "type": "string"
                          },
                          "envelopeId": {
                            "type": "string"
                          }
                        },
                        "required": [
                          "id",
                          "order",
                          "title",
                          "envelopeId"
                        ]
                      }
                    }
                  },
                  "required": [
                    "data"
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Invalid input data",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error.BAD_REQUEST"
                }
              }
            }
          },
          "401": {
            "description": "Authorization not provided",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error.UNAUTHORIZED"
                }
              }
            }
          },
          "403": {
            "description": "Insufficient access",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error.FORBIDDEN"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error.INTERNAL_SERVER_ERROR"
                }
              }
            }
          }
        }
      }
    },
    "/envelope/item/delete": {
      "post": {
        "operationId": "envelope-item-delete",
        "summary": "Delete envelope item",
        "description": "Delete an envelope item from an envelope",
        "tags": [
          "Envelope Items"
        ],
        "security": [
          {
            "apiKey": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "envelopeId": {
                    "type": "string"
                  },
                  "envelopeItemId": {
                    "type": "string"
                  }
                },
                "required": [
                  "envelopeId",
                  "envelopeItemId"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    }
                  },
                  "required": [
                    "success"
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Invalid input data",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error.BAD_REQUEST"
                }
              }
            }
          },
          "401": {
            "description": "Authorization not provided",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error.UNAUTHORIZED"
                }
              }
            }
          },
          "403": {
            "description": "Insufficient access",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error.FORBIDDEN"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error.INTERNAL_SERVER_ERROR"
                }
              }
            }
          }
        }
      }
    },
    "/envelope/item/{envelopeItemId}/download": {
      "get": {
        "operationId": "envelope-item-download",
        "summary": "Download an envelope item",
        "description": "Download an envelope item by its ID",
        "tags": [
          "Envelope Items"
        ],
        "security": [
          {
            "apiKey": []
          }
        ],
        "parameters": [
          {
            "in": "path",
            "name": "envelopeItemId",
            "description": "The ID of the envelope item to download.",
            "schema": {
              "type": "string",
              "description": "The ID of the envelope item to download."
            },
            "required": true
          },
          {
            "in": "query",
            "name": "version",
            "description": "The version of the envelope item to download. \"signed\" returns the completed document with all signatures and the audit trail, \"original\" returns the original uploaded document, \"pending\" returns the original document with currently-inserted fields burned in (only valid while the envelope is in PENDING status; not a final executed document).",
            "schema": {
              "type": "string",
              "enum": [
                "original",
                "signed",
                "pending"
              ],
              "description": "The version of the envelope item to download. \"signed\" returns the completed document with all signatures and the audit trail, \"original\" returns the original uploaded document, \"pending\" returns the original document with currently-inserted fields burned in (only valid while the envelope is in PENDING status; not a final executed document).",
              "default": "signed"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "headers": {
              "Content-Type": {
                "schema": {
                  "type": "string",
                  "enum": [
                    "application/pdf"
                  ]
                },
                "required": true
              }
            },
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "400": {
            "description": "Invalid input data",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error.BAD_REQUEST"
                }
              }
            }
          },
          "401": {
            "description": "Authorization not provided",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error.UNAUTHORIZED"
                }
              }
            }
          },
          "403": {
            "description": "Insufficient access",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error.FORBIDDEN"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error.NOT_FOUND"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error.INTERNAL_SERVER_ERROR"
                }
              }
            }
          }
        }
      }
    },
    "/envelope/recipient/{recipientId}": {
      "get": {
        "operationId": "envelope-recipient-get",
        "summary": "Get envelope recipient",
        "description": "Returns an envelope recipient given an ID",
        "tags": [
          "Envelope Recipients"
        ],
        "security": [
          {
            "apiKey": []
          }
        ],
        "parameters": [
          {
            "in": "path",
            "name": "recipientId",
            "schema": {
              "type": "number"
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "envelopeId": {
                      "type": "string"
                    },
                    "role": {
                      "type": "string",
                      "enum": [
                        "CC",
                        "SIGNER",
                        "VIEWER",
                        "APPROVER",
                        "ASSISTANT"
                      ]
                    },
                    "readStatus": {
                      "type": "string",
                      "enum": [
                        "NOT_OPENED",
                        "OPENED"
                      ]
                    },
                    "signingStatus": {
                      "type": "string",
                      "enum": [
                        "NOT_SIGNED",
                        "SIGNED",
                        "REJECTED"
                      ]
                    },
                    "sendStatus": {
                      "type": "string",
                      "enum": [
                        "NOT_SENT",
                        "SENT"
                      ]
                    },
                    "id": {
                      "type": "number"
                    },
                    "email": {
                      "type": "string"
                    },
                    "name": {
                      "type": "string"
                    },
                    "token": {
                      "type": "string"
                    },
                    "documentDeletedAt": {
                      "type": "string",
                      "nullable": true
                    },
                    "expired": {
                      "type": "string",
                      "nullable": true
                    },
                    "expiresAt": {
                      "type": "string",
                      "nullable": true
                    },
                    "expirationNotifiedAt": {
                      "type": "string",
                      "nullable": true
                    },
                    "signedAt": {
                      "type": "string",
                      "nullable": true
                    },
                    "authOptions": {
                      "type": "object",
                      "nullable": true,
                      "properties": {
                        "accessAuth": {
                          "type": "array",
                          "items": {
                            "type": "string",
                            "enum": [
                              "ACCOUNT",
                              "TWO_FACTOR_AUTH"
                            ],
                            "description": "The type of authentication required for the recipient to access the document."
                          }
                        },
                        "actionAuth": {
                          "type": "array",
                          "items": {
                            "type": "string",
                            "enum": [
                              "ACCOUNT",
                              "PASSKEY",
                              "TWO_FACTOR_AUTH",
                              "PASSWORD",
                              "EXPLICIT_NONE"
                            ],
                            "description": "The type of authentication required for the recipient to sign the document."
                          }
                        }
                      },
                      "required": [
                        "accessAuth",
                        "actionAuth"
                      ]
                    },
                    "signingOrder": {
                      "type": "number",
                      "nullable": true,
                      "description": "The order in which the recipient should sign the document. Only works if the document is set to sequential signing."
                    },
                    "rejectionReason": {
                      "type": "string",
                      "nullable": true
                    },
                    "fields": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "envelopeId": {
                            "type": "string"
                          },
                          "envelopeItemId": {
                            "type": "string"
                          },
                          "type": {
                            "type": "string",
                            "enum": [
                              "SIGNATURE",
                              "FREE_SIGNATURE",
                              "INITIALS",
                              "NAME",
                              "EMAIL",
                              "DATE",
                              "TEXT",
                              "NUMBER",
                              "RADIO",
                              "CHECKBOX",
                              "DROPDOWN"
                            ]
                          },
                          "id": {
                            "type": "number"
                          },
                          "secondaryId": {
                            "type": "string"
                          },
                          "recipientId": {
                            "type": "number"
                          },
                          "page": {
                            "type": "number",
                            "description": "The page number of the field on the document. Starts from 1."
                          },
                          "positionX": {},
                          "positionY": {},
                          "width": {},
                          "height": {},
                          "customText": {
                            "type": "string"
                          },
                          "inserted": {
                            "type": "boolean"
                          },
                          "fieldMeta": {
                            "nullable": true,
                            "oneOf": [
                              {
                                "type": "object",
                                "properties": {
                                  "label": {
                                    "type": "string"
                                  },
                                  "placeholder": {
                                    "type": "string"
                                  },
                                  "required": {
                                    "type": "boolean"
                                  },
                                  "readOnly": {
                                    "type": "boolean"
                                  },
                                  "fontSize": {
                                    "type": "number",
                                    "minimum": 8,
                                    "maximum": 96,
                                    "default": 12
                                  },
                                  "overflow": {
                                    "type": "string",
                                    "enum": [
                                      "auto",
                                      "horizontal",
                                      "vertical",
                                      "crop"
                                    ],
                                    "default": "auto"
                                  },
                                  "type": {
                                    "type": "string",
                                    "enum": [
                                      "signature"
                                    ]
                                  }
                                },
                                "required": [
                                  "overflow",
                                  "type"
                                ]
                              },
                              {
                                "type": "object",
                                "properties": {
                                  "label": {
                                    "type": "string"
                                  },
                                  "placeholder": {
                                    "type": "string"
                                  },
                                  "required": {
                                    "type": "boolean"
                                  },
                                  "readOnly": {
                                    "type": "boolean"
                                  },
                                  "fontSize": {
                                    "type": "number",
                                    "minimum": 8,
                                    "maximum": 96,
                                    "default": 12
                                  },
                                  "overflow": {
                                    "type": "string",
                                    "enum": [
                                      "auto",
                                      "horizontal",
                                      "vertical",
                                      "crop"
                                    ]
                                  },
                                  "type": {
                                    "type": "string",
                                    "enum": [
                                      "initials"
                                    ]
                                  },
                                  "textAlign": {
                                    "type": "string",
                                    "enum": [
                                      "left",
                                      "center",
                                      "right"
                                    ]
                                  }
                                },
                                "required": [
                                  "type"
                                ]
                              },
                              {
                                "type": "object",
                                "properties": {
                                  "label": {
                                    "type": "string"
                                  },
                                  "placeholder": {
                                    "type": "string"
                                  },
                                  "required": {
                                    "type": "boolean"
                                  },
                                  "readOnly": {
                                    "type": "boolean"
                                  },
                                  "fontSize": {
                                    "type": "number",
                                    "minimum": 8,
                                    "maximum": 96,
                                    "default": 12
                                  },
                                  "overflow": {
                                    "type": "string",
                                    "enum": [
                                      "auto",
                                      "horizontal",
                                      "vertical",
                                      "crop"
                                    ]
                                  },
                                  "type": {
                                    "type": "string",
                                    "enum": [
                                      "name"
                                    ]
                                  },
                                  "textAlign": {
                                    "type": "string",
                                    "enum": [
                                      "left",
                                      "center",
                                      "right"
                                    ]
                                  }
                                },
                                "required": [
                                  "type"
                                ]
                              },
                              {
                                "type": "object",
                                "properties": {
                                  "label": {
                                    "type": "string"
                                  },
                                  "placeholder": {
                                    "type": "string"
                                  },
                                  "required": {
                                    "type": "boolean"
                                  },
                                  "readOnly": {
                                    "type": "boolean"
                                  },
                                  "fontSize": {
                                    "type": "number",
                                    "minimum": 8,
                                    "maximum": 96,
                                    "default": 12
                                  },
                                  "overflow": {
                                    "type": "string",
                                    "enum": [
                                      "auto",
                                      "horizontal",
                                      "vertical",
                                      "crop"
                                    ],
                                    "default": "auto"
                                  },
                                  "type": {
                                    "type": "string",
                                    "enum": [
                                      "email"
                                    ]
                                  },
                                  "textAlign": {
                                    "type": "string",
                                    "enum": [
                                      "left",
                                      "center",
                                      "right"
                                    ]
                                  }
                                },
                                "required": [
                                  "overflow",
                                  "type"
                                ]
                              },
                              {
                                "type": "object",
                                "properties": {
                                  "label": {
                                    "type": "string"
                                  },
                                  "placeholder": {
                                    "type": "string"
                                  },
                                  "required": {
                                    "type": "boolean"
                                  },
                                  "readOnly": {
                                    "type": "boolean"
                                  },
                                  "fontSize": {
                                    "type": "number",
                                    "minimum": 8,
                                    "maximum": 96,
                                    "default": 12
                                  },
                                  "overflow": {
                                    "type": "string",
                                    "enum": [
                                      "auto",
                                      "horizontal",
                                      "vertical",
                                      "crop"
                                    ],
                                    "default": "auto"
                                  },
                                  "type": {
                                    "type": "string",
                                    "enum": [
                                      "date"
                                    ]
                                  },
                                  "textAlign": {
                                    "type": "string",
                                    "enum": [
                                      "left",
                                      "center",
                                      "right"
                                    ]
                                  }
                                },
                                "required": [
                                  "overflow",
                                  "type"
                                ]
                              },
                              {
                                "type": "object",
                                "properties": {
                                  "label": {
                                    "type": "string"
                                  },
                                  "placeholder": {
                                    "type": "string"
                                  },
                                  "required": {
                                    "type": "boolean"
                                  },
                                  "readOnly": {
                                    "type": "boolean"
                                  },
                                  "fontSize": {
                                    "type": "number",
                                    "minimum": 8,
                                    "maximum": 96,
                                    "default": 12
                                  },
                                  "overflow": {
                                    "type": "string",
                                    "enum": [
                                      "auto",
                                      "horizontal",
                                      "vertical",
                                      "crop"
                                    ]
                                  },
                                  "type": {
                                    "type": "string",
                                    "enum": [
                                      "text"
                                    ]
                                  },
                                  "text": {
                                    "type": "string"
                                  },
                                  "characterLimit": {
                                    "type": "number",
                                    "minimum": 0
                                  },
                                  "textAlign": {
                                    "type": "string",
                                    "enum": [
                                      "left",
                                      "center",
                                      "right"
                                    ]
                                  },
                                  "lineHeight": {
                                    "type": "number",
                                    "nullable": true,
                                    "minimum": 1,
                                    "maximum": 10,
                                    "description": "The line height of the text"
                                  },
                                  "letterSpacing": {
                                    "type": "number",
                                    "nullable": true,
                                    "minimum": 0,
                                    "maximum": 100,
                                    "description": "The spacing between each character"
                                  },
                                  "verticalAlign": {
                                    "type": "string",
                                    "nullable": true,
                                    "enum": [
                                      "top",
                                      "middle",
                                      "bottom",
                                      null
                                    ],
                                    "description": "The vertical alignment of the text"
                                  }
                                },
                                "required": [
                                  "type"
                                ]
                              },
                              {
                                "type": "object",
                                "properties": {
                                  "label": {
                                    "type": "string"
                                  },
                                  "placeholder": {
                                    "type": "string"
                                  },
                                  "required": {
                                    "type": "boolean"
                                  },
                                  "readOnly": {
                                    "type": "boolean"
                                  },
                                  "fontSize": {
                                    "type": "number",
                                    "minimum": 8,
                                    "maximum": 96,
                                    "default": 12
                                  },
                                  "overflow": {
                                    "type": "string",
                                    "enum": [
                                      "auto",
                                      "horizontal",
                                      "vertical",
                                      "crop"
                                    ]
                                  },
                                  "type": {
                                    "type": "string",
                                    "enum": [
                                      "number"
                                    ]
                                  },
                                  "numberFormat": {
                                    "type": "string",
                                    "nullable": true
                                  },
                                  "value": {
                                    "type": "string"
                                  },
                                  "minValue": {
                                    "type": "number",
                                    "nullable": true
                                  },
                                  "maxValue": {
                                    "type": "number",
                                    "nullable": true
                                  },
                                  "textAlign": {
                                    "type": "string",
                                    "enum": [
                                      "left",
                                      "center",
                                      "right"
                                    ]
                                  },
                                  "lineHeight": {
                                    "type": "number",
                                    "nullable": true,
                                    "minimum": 1,
                                    "maximum": 10,
                                    "description": "The line height of the text"
                                  },
                                  "letterSpacing": {
                                    "type": "number",
                                    "nullable": true,
                                    "minimum": 0,
                                    "maximum": 100,
                                    "description": "The spacing between each character"
                                  },
                                  "verticalAlign": {
                                    "type": "string",
                                    "nullable": true,
                                    "enum": [
                                      "top",
                                      "middle",
                                      "bottom",
                                      null
                                    ],
                                    "description": "The vertical alignment of the text"
                                  }
                                },
                                "required": [
                                  "type"
                                ]
                              },
                              {
                                "type": "object",
                                "properties": {
                                  "label": {
                                    "type": "string"
                                  },
                                  "placeholder": {
                                    "type": "string"
                                  },
                                  "required": {
                                    "type": "boolean"
                                  },
                                  "readOnly": {
                                    "type": "boolean"
                                  },
                                  "fontSize": {
                                    "type": "number",
                                    "minimum": 8,
                                    "maximum": 96,
                                    "default": 12
                                  },
                                  "overflow": {
                                    "type": "string",
                                    "enum": [
                                      "auto",
                                      "horizontal",
                                      "vertical",
                                      "crop"
                                    ]
                                  },
                                  "type": {
                                    "type": "string",
                                    "enum": [
                                      "radio"
                                    ]
                                  },
                                  "values": {
                                    "type": "array",
                                    "items": {
                                      "type": "object",
                                      "properties": {
                                        "id": {
                                          "type": "number"
                                        },
                                        "checked": {
                                          "type": "boolean"
                                        },
                                        "value": {
                                          "type": "string"
                                        }
                                      },
                                      "required": [
                                        "id",
                                        "checked",
                                        "value"
                                      ]
                                    }
                                  },
                                  "direction": {
                                    "type": "string",
                                    "enum": [
                                      "vertical",
                                      "horizontal"
                                    ],
                                    "default": "vertical"
                                  }
                                },
                                "required": [
                                  "type",
                                  "direction"
                                ]
                              },
                              {
                                "type": "object",
                                "properties": {
                                  "label": {
                                    "type": "string"
                                  },
                                  "placeholder": {
                                    "type": "string"
                                  },
                                  "required": {
                                    "type": "boolean"
                                  },
                                  "readOnly": {
                                    "type": "boolean"
                                  },
                                  "fontSize": {
                                    "type": "number",
                                    "minimum": 8,
                                    "maximum": 96,
                                    "default": 12
                                  },
                                  "overflow": {
                                    "type": "string",
                                    "enum": [
                                      "auto",
                                      "horizontal",
                                      "vertical",
                                      "crop"
                                    ]
                                  },
                                  "type": {
                                    "type": "string",
                                    "enum": [
                                      "checkbox"
                                    ]
                                  },
                                  "values": {
                                    "type": "array",
                                    "items": {
                                      "type": "object",
                                      "properties": {
                                        "id": {
                                          "type": "number"
                                        },
                                        "checked": {
                                          "type": "boolean"
                                        },
                                        "value": {
                                          "type": "string"
                                        }
                                      },
                                      "required": [
                                        "id",
                                        "checked",
                                        "value"
                                      ]
                                    }
                                  },
                                  "validationRule": {
                                    "type": "string"
                                  },
                                  "validationLength": {
                                    "type": "number"
                                  },
                                  "direction": {
                                    "type": "string",
                                    "enum": [
                                      "vertical",
                                      "horizontal"
                                    ],
                                    "default": "vertical"
                                  }
                                },
                                "required": [
                                  "type",
                                  "direction"
                                ]
                              },
                              {
                                "type": "object",
                                "properties": {
                                  "label": {
                                    "type": "string"
                                  },
                                  "placeholder": {
                                    "type": "string"
                                  },
                                  "required": {
                                    "type": "boolean"
                                  },
                                  "readOnly": {
                                    "type": "boolean"
                                  },
                                  "fontSize": {
                                    "type": "number",
                                    "minimum": 8,
                                    "maximum": 96,
                                    "default": 12
                                  },
                                  "overflow": {
                                    "type": "string",
                                    "enum": [
                                      "auto",
                                      "horizontal",
                                      "vertical",
                                      "crop"
                                    ]
                                  },
                                  "type": {
                                    "type": "string",
                                    "enum": [
                                      "dropdown"
                                    ]
                                  },
                                  "values": {
                                    "type": "array",
                                    "items": {
                                      "type": "object",
                                      "properties": {
                                        "value": {
                                          "type": "string"
                                        }
                                      },
                                      "required": [
                                        "value"
                                      ]
                                    }
                                  },
                                  "defaultValue": {
                                    "type": "string"
                                  }
                                },
                                "required": [
                                  "type"
                                ]
                              }
                            ]
                          },
                          "documentId": {
                            "type": "number",
                            "nullable": true
                          },
                          "templateId": {
                            "type": "number",
                            "nullable": true
                          }
                        },
                        "required": [
                          "envelopeId",
                          "envelopeItemId",
                          "type",
                          "id",
                          "secondaryId",
                          "recipientId",
                          "page",
                          "positionX",
                          "positionY",
                          "width",
                          "height",
                          "customText",
                          "inserted",
                          "fieldMeta"
                        ]
                      }
                    }
                  },
                  "required": [
                    "envelopeId",
                    "role",
                    "readStatus",
                    "signingStatus",
                    "sendStatus",
                    "id",
                    "email",
                    "name",
                    "token",
                    "documentDeletedAt",
                    "expired",
                    "expiresAt",
                    "expirationNotifiedAt",
                    "signedAt",
                    "authOptions",
                    "signingOrder",
                    "rejectionReason",
                    "fields"
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Invalid input data",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error.BAD_REQUEST"
                }
              }
            }
          },
          "401": {
            "description": "Authorization not provided",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error.UNAUTHORIZED"
                }
              }
            }
          },
          "403": {
            "description": "Insufficient access",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error.FORBIDDEN"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error.NOT_FOUND"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error.INTERNAL_SERVER_ERROR"
                }
              }
            }
          }
        }
      }
    },
    "/envelope/recipient/create-many": {
      "post": {
        "operationId": "envelope-recipient-createMany",
        "summary": "Create envelope recipients",
        "description": "Create multiple recipients for an envelope",
        "tags": [
          "Envelope Recipients"
        ],
        "security": [
          {
            "apiKey": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "envelopeId": {
                    "type": "string"
                  },
                  "data": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "email": {
                          "anyOf": [
                            {
                              "type": "string",
                              "enum": [
                                ""
                              ]
                            },
                            {
                              "type": "string",
                              "pattern": "^[a-zA-Z0-9.!#$%&'*+/=?^_`{|}~\\u{0080}-\\u{FFFF}-]+@[a-zA-Z0-9\\u{0080}-\\u{FFFF}](?:[a-zA-Z0-9\\u{0080}-\\u{FFFF}-]{0,61}[a-zA-Z0-9\\u{0080}-\\u{FFFF}])?(?:\\.[a-zA-Z0-9\\u{0080}-\\u{FFFF}](?:[a-zA-Z0-9\\u{0080}-\\u{FFFF}-]{0,61}[a-zA-Z0-9\\u{0080}-\\u{FFFF}])?)*$",
                              "maxLength": 254
                            }
                          ]
                        },
                        "name": {
                          "type": "string",
                          "maxLength": 255
                        },
                        "role": {
                          "type": "string",
                          "enum": [
                            "CC",
                            "SIGNER",
                            "VIEWER",
                            "APPROVER",
                            "ASSISTANT"
                          ]
                        },
                        "signingOrder": {
                          "type": "integer",
                          "minimum": 0
                        },
                        "accessAuth": {
                          "type": "array",
                          "items": {
                            "type": "string",
                            "enum": [
                              "ACCOUNT",
                              "TWO_FACTOR_AUTH"
                            ],
                            "description": "The type of authentication required for the recipient to access the document."
                          },
                          "default": []
                        },
                        "actionAuth": {
                          "type": "array",
                          "items": {
                            "type": "string",
                            "enum": [
                              "ACCOUNT",
                              "PASSKEY",
                              "TWO_FACTOR_AUTH",
                              "PASSWORD",
                              "EXPLICIT_NONE"
                            ],
                            "description": "The type of authentication required for the recipient to sign the document."
                          },
                          "default": []
                        }
                      },
                      "required": [
                        "email",
                        "name",
                        "role"
                      ]
                    }
                  }
                },
                "required": [
                  "envelopeId",
                  "data"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "envelopeId": {
                            "type": "string"
                          },
                          "role": {
                            "type": "string",
                            "enum": [
                              "CC",
                              "SIGNER",
                              "VIEWER",
                              "APPROVER",
                              "ASSISTANT"
                            ]
                          },
                          "readStatus": {
                            "type": "string",
                            "enum": [
                              "NOT_OPENED",
                              "OPENED"
                            ]
                          },
                          "signingStatus": {
                            "type": "string",
                            "enum": [
                              "NOT_SIGNED",
                              "SIGNED",
                              "REJECTED"
                            ]
                          },
                          "sendStatus": {
                            "type": "string",
                            "enum": [
                              "NOT_SENT",
                              "SENT"
                            ]
                          },
                          "id": {
                            "type": "number"
                          },
                          "email": {
                            "type": "string"
                          },
                          "name": {
                            "type": "string"
                          },
                          "token": {
                            "type": "string"
                          },
                          "documentDeletedAt": {
                            "type": "string",
                            "nullable": true
                          },
                          "expired": {
                            "type": "string",
                            "nullable": true
                          },
                          "expiresAt": {
                            "type": "string",
                            "nullable": true
                          },
                          "expirationNotifiedAt": {
                            "type": "string",
                            "nullable": true
                          },
                          "signedAt": {
                            "type": "string",
                            "nullable": true
                          },
                          "authOptions": {
                            "type": "object",
                            "nullable": true,
                            "properties": {
                              "accessAuth": {
                                "type": "array",
                                "items": {
                                  "type": "string",
                                  "enum": [
                                    "ACCOUNT",
                                    "TWO_FACTOR_AUTH"
                                  ],
                                  "description": "The type of authentication required for the recipient to access the document."
                                }
                              },
                              "actionAuth": {
                                "type": "array",
                                "items": {
                                  "type": "string",
                                  "enum": [
                                    "ACCOUNT",
                                    "PASSKEY",
                                    "TWO_FACTOR_AUTH",
                                    "PASSWORD",
                                    "EXPLICIT_NONE"
                                  ],
                                  "description": "The type of authentication required for the recipient to sign the document."
                                }
                              }
                            },
                            "required": [
                              "accessAuth",
                              "actionAuth"
                            ]
                          },
                          "signingOrder": {
                            "type": "number",
                            "nullable": true,
                            "description": "The order in which the recipient should sign the document. Only works if the document is set to sequential signing."
                          },
                          "rejectionReason": {
                            "type": "string",
                            "nullable": true
                          }
                        },
                        "required": [
                          "envelopeId",
                          "role",
                          "readStatus",
                          "signingStatus",
                          "sendStatus",
                          "id",
                          "email",
                          "name",
                          "token",
                          "documentDeletedAt",
                          "expired",
                          "expiresAt",
                          "expirationNotifiedAt",
                          "signedAt",
                          "authOptions",
                          "signingOrder",
                          "rejectionReason"
                        ]
                      }
                    }
                  },
                  "required": [
                    "data"
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Invalid input data",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error.BAD_REQUEST"
                }
              }
            }
          },
          "401": {
            "description": "Authorization not provided",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error.UNAUTHORIZED"
                }
              }
            }
          },
          "403": {
            "description": "Insufficient access",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error.FORBIDDEN"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error.INTERNAL_SERVER_ERROR"
                }
              }
            }
          }
        }
      }
    },
    "/envelope/recipient/update-many": {
      "post": {
        "operationId": "envelope-recipient-updateMany",
        "summary": "Update envelope recipients",
        "description": "Update multiple recipients for an envelope",
        "tags": [
          "Envelope Recipients"
        ],
        "security": [
          {
            "apiKey": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "envelopeId": {
                    "type": "string"
                  },
                  "data": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "number",
                          "description": "The ID of the recipient to update."
                        },
                        "email": {
                          "anyOf": [
                            {
                              "type": "string",
                              "enum": [
                                ""
                              ]
                            },
                            {
                              "type": "string",
                              "pattern": "^[a-zA-Z0-9.!#$%&'*+/=?^_`{|}~\\u{0080}-\\u{FFFF}-]+@[a-zA-Z0-9\\u{0080}-\\u{FFFF}](?:[a-zA-Z0-9\\u{0080}-\\u{FFFF}-]{0,61}[a-zA-Z0-9\\u{0080}-\\u{FFFF}])?(?:\\.[a-zA-Z0-9\\u{0080}-\\u{FFFF}](?:[a-zA-Z0-9\\u{0080}-\\u{FFFF}-]{0,61}[a-zA-Z0-9\\u{0080}-\\u{FFFF}])?)*$",
                              "maxLength": 254
                            }
                          ]
                        },
                        "name": {
                          "type": "string",
                          "maxLength": 255
                        },
                        "role": {
                          "type": "string",
                          "enum": [
                            "CC",
                            "SIGNER",
                            "VIEWER",
                            "APPROVER",
                            "ASSISTANT"
                          ]
                        },
                        "signingOrder": {
                          "type": "integer",
                          "minimum": 0
                        },
                        "accessAuth": {
                          "type": "array",
                          "items": {
                            "type": "string",
                            "enum": [
                              "ACCOUNT",
                              "TWO_FACTOR_AUTH"
                            ],
                            "description": "The type of authentication required for the recipient to access the document."
                          },
                          "default": []
                        },
                        "actionAuth": {
                          "type": "array",
                          "items": {
                            "type": "string",
                            "enum": [
                              "ACCOUNT",
                              "PASSKEY",
                              "TWO_FACTOR_AUTH",
                              "PASSWORD",
                              "EXPLICIT_NONE"
                            ],
                            "description": "The type of authentication required for the recipient to sign the document."
                          },
                          "default": []
                        }
                      },
                      "required": [
                        "id"
                      ]
                    }
                  }
                },
                "required": [
                  "envelopeId",
                  "data"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "envelopeId": {
                            "type": "string"
                          },
                          "role": {
                            "type": "string",
                            "enum": [
                              "CC",
                              "SIGNER",
                              "VIEWER",
                              "APPROVER",
                              "ASSISTANT"
                            ]
                          },
                          "readStatus": {
                            "type": "string",
                            "enum": [
                              "NOT_OPENED",
                              "OPENED"
                            ]
                          },
                          "signingStatus": {
                            "type": "string",
                            "enum": [
                              "NOT_SIGNED",
                              "SIGNED",
                              "REJECTED"
                            ]
                          },
                          "sendStatus": {
                            "type": "string",
                            "enum": [
                              "NOT_SENT",
                              "SENT"
                            ]
                          },
                          "id": {
                            "type": "number"
                          },
                          "email": {
                            "type": "string"
                          },
                          "name": {
                            "type": "string"
                          },
                          "token": {
                            "type": "string"
                          },
                          "documentDeletedAt": {
                            "type": "string",
                            "nullable": true
                          },
                          "expired": {
                            "type": "string",
                            "nullable": true
                          },
                          "expiresAt": {
                            "type": "string",
                            "nullable": true
                          },
                          "expirationNotifiedAt": {
                            "type": "string",
                            "nullable": true
                          },
                          "signedAt": {
                            "type": "string",
                            "nullable": true
                          },
                          "authOptions": {
                            "type": "object",
                            "nullable": true,
                            "properties": {
                              "accessAuth": {
                                "type": "array",
                                "items": {
                                  "type": "string",
                                  "enum": [
                                    "ACCOUNT",
                                    "TWO_FACTOR_AUTH"
                                  ],
                                  "description": "The type of authentication required for the recipient to access the document."
                                }
                              },
                              "actionAuth": {
                                "type": "array",
                                "items": {
                                  "type": "string",
                                  "enum": [
                                    "ACCOUNT",
                                    "PASSKEY",
                                    "TWO_FACTOR_AUTH",
                                    "PASSWORD",
                                    "EXPLICIT_NONE"
                                  ],
                                  "description": "The type of authentication required for the recipient to sign the document."
                                }
                              }
                            },
                            "required": [
                              "accessAuth",
                              "actionAuth"
                            ]
                          },
                          "signingOrder": {
                            "type": "number",
                            "nullable": true,
                            "description": "The order in which the recipient should sign the document. Only works if the document is set to sequential signing."
                          },
                          "rejectionReason": {
                            "type": "string",
                            "nullable": true
                          },
                          "documentId": {
                            "type": "number",
                            "nullable": true
                          },
                          "templateId": {
                            "type": "number",
                            "nullable": true
                          }
                        },
                        "required": [
                          "envelopeId",
                          "role",
                          "readStatus",
                          "signingStatus",
                          "sendStatus",
                          "id",
                          "email",
                          "name",
                          "token",
                          "documentDeletedAt",
                          "expired",
                          "expiresAt",
                          "expirationNotifiedAt",
                          "signedAt",
                          "authOptions",
                          "signingOrder",
                          "rejectionReason"
                        ]
                      }
                    }
                  },
                  "required": [
                    "data"
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Invalid input data",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error.BAD_REQUEST"
                }
              }
            }
          },
          "401": {
            "description": "Authorization not provided",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error.UNAUTHORIZED"
                }
              }
            }
          },
          "403": {
            "description": "Insufficient access",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error.FORBIDDEN"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error.INTERNAL_SERVER_ERROR"
                }
              }
            }
          }
        }
      }
    },
    "/envelope/recipient/delete": {
      "post": {
        "operationId": "envelope-recipient-delete",
        "summary": "Delete envelope recipient",
        "description": "Delete an envelope recipient",
        "tags": [
          "Envelope Recipients"
        ],
        "security": [
          {
            "apiKey": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "recipientId": {
                    "type": "number"
                  }
                },
                "required": [
                  "recipientId"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    }
                  },
                  "required": [
                    "success"
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Invalid input data",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error.BAD_REQUEST"
                }
              }
            }
          },
          "401": {
            "description": "Authorization not provided",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error.UNAUTHORIZED"
                }
              }
            }
          },
          "403": {
            "description": "Insufficient access",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error.FORBIDDEN"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error.INTERNAL_SERVER_ERROR"
                }
              }
            }
          }
        }
      }
    },
    "/envelope/recipient/{recipientId}/reject": {
      "post": {
        "operationId": "envelope-recipient-rejectOnBehalfOf",
        "summary": "Reject envelope recipient on behalf of",
        "description": "Records a rejection on behalf of a recipient. Use this when a recipient has declined to sign outside of the platform. The rejection is flagged as external in the document audit log. By default the action is attributed to the API user; supply `actAsEmail` to attribute it to a specific team member.",
        "tags": [
          "Envelope Recipients"
        ],
        "security": [
          {
            "apiKey": []
          }
        ],
        "parameters": [
          {
            "in": "path",
            "name": "recipientId",
            "description": "The ID of the recipient to reject the document on behalf of.",
            "schema": {
              "type": "number",
              "description": "The ID of the recipient to reject the document on behalf of."
            },
            "required": true
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "envelopeId": {
                    "type": "string",
                    "description": "The ID of the envelope the recipient belongs to."
                  },
                  "reason": {
                    "type": "string",
                    "minLength": 1,
                    "description": "The reason the recipient rejected the document."
                  },
                  "actAsEmail": {
                    "type": "string",
                    "pattern": "^[a-zA-Z0-9.!#$%&'*+/=?^_`{|}~\\u{0080}-\\u{FFFF}-]+@[a-zA-Z0-9\\u{0080}-\\u{FFFF}](?:[a-zA-Z0-9\\u{0080}-\\u{FFFF}-]{0,61}[a-zA-Z0-9\\u{0080}-\\u{FFFF}])?(?:\\.[a-zA-Z0-9\\u{0080}-\\u{FFFF}](?:[a-zA-Z0-9\\u{0080}-\\u{FFFF}-]{0,61}[a-zA-Z0-9\\u{0080}-\\u{FFFF}])?)*$",
                    "description": "The email of the team member to attribute the rejection to. Defaults to the API user when omitted."
                  }
                },
                "required": [
                  "envelopeId",
                  "reason"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "envelopeId": {
                      "type": "string"
                    },
                    "role": {
                      "type": "string",
                      "enum": [
                        "CC",
                        "SIGNER",
                        "VIEWER",
                        "APPROVER",
                        "ASSISTANT"
                      ]
                    },
                    "readStatus": {
                      "type": "string",
                      "enum": [
                        "NOT_OPENED",
                        "OPENED"
                      ]
                    },
                    "signingStatus": {
                      "type": "string",
                      "enum": [
                        "NOT_SIGNED",
                        "SIGNED",
                        "REJECTED"
                      ]
                    },
                    "sendStatus": {
                      "type": "string",
                      "enum": [
                        "NOT_SENT",
                        "SENT"
                      ]
                    },
                    "id": {
                      "type": "number"
                    },
                    "email": {
                      "type": "string"
                    },
                    "name": {
                      "type": "string"
                    },
                    "token": {
                      "type": "string"
                    },
                    "documentDeletedAt": {
                      "type": "string",
                      "nullable": true
                    },
                    "expired": {
                      "type": "string",
                      "nullable": true
                    },
                    "expiresAt": {
                      "type": "string",
                      "nullable": true
                    },
                    "expirationNotifiedAt": {
                      "type": "string",
                      "nullable": true
                    },
                    "signedAt": {
                      "type": "string",
                      "nullable": true
                    },
                    "authOptions": {
                      "type": "object",
                      "nullable": true,
                      "properties": {
                        "accessAuth": {
                          "type": "array",
                          "items": {
                            "type": "string",
                            "enum": [
                              "ACCOUNT",
                              "TWO_FACTOR_AUTH"
                            ],
                            "description": "The type of authentication required for the recipient to access the document."
                          }
                        },
                        "actionAuth": {
                          "type": "array",
                          "items": {
                            "type": "string",
                            "enum": [
                              "ACCOUNT",
                              "PASSKEY",
                              "TWO_FACTOR_AUTH",
                              "PASSWORD",
                              "EXPLICIT_NONE"
                            ],
                            "description": "The type of authentication required for the recipient to sign the document."
                          }
                        }
                      },
                      "required": [
                        "accessAuth",
                        "actionAuth"
                      ]
                    },
                    "signingOrder": {
                      "type": "number",
                      "nullable": true,
                      "description": "The order in which the recipient should sign the document. Only works if the document is set to sequential signing."
                    },
                    "rejectionReason": {
                      "type": "string",
                      "nullable": true
                    },
                    "fields": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "envelopeId": {
                            "type": "string"
                          },
                          "envelopeItemId": {
                            "type": "string"
                          },
                          "type": {
                            "type": "string",
                            "enum": [
                              "SIGNATURE",
                              "FREE_SIGNATURE",
                              "INITIALS",
                              "NAME",
                              "EMAIL",
                              "DATE",
                              "TEXT",
                              "NUMBER",
                              "RADIO",
                              "CHECKBOX",
                              "DROPDOWN"
                            ]
                          },
                          "id": {
                            "type": "number"
                          },
                          "secondaryId": {
                            "type": "string"
                          },
                          "recipientId": {
                            "type": "number"
                          },
                          "page": {
                            "type": "number",
                            "description": "The page number of the field on the document. Starts from 1."
                          },
                          "positionX": {},
                          "positionY": {},
[...]
