// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../BaseClient.js";
import { normalizeClientOptionsWithAuth, type NormalizedClientOptionsWithAuth } from "../../../../BaseClient.js";
import * as core from "../../../../core/index.js";
import { mergeHeaders } from "../../../../core/headers.js";
import { mergeAdditionalBodyParameters } from "../../../../core/requestBody.js";
import * as environments from "../../../../environments.js";
import { handleNonStatusCodeError } from "../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../errors/index.js";
import * as serializers from "../../../../serialization/index.js";
import * as Documenso from "../../../index.js";

export declare namespace EnvelopeRecipientsClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

export class EnvelopeRecipientsClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<EnvelopeRecipientsClient.Options>;

    constructor(options: EnvelopeRecipientsClient.Options) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    /**
     * Records a rejection on behalf of a recipient. Use this when a recipient has declined to sign outside of the platform. The rejection is flagged as external in the document audit log. By default the action is attributed to the API user; supply `actAsEmail` to attribute it to a specific team member.
     *
     * @param {Documenso.EnvelopeRecipientRejectOnBehalfOfEnvelopeRecipientsRequest} request
     * @param {EnvelopeRecipientsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Documenso.BadRequestError}
     * @throws {@link Documenso.UnauthorizedError}
     * @throws {@link Documenso.ForbiddenError}
     * @throws {@link Documenso.InternalServerError}
     *
     * @example
     *     await client.envelopeRecipients.envelopeRecipientRejectOnBehalfOf({
     *         recipientId: 1.1,
     *         envelopeId: "envelopeId",
     *         reason: "reason"
     *     })
     */
    public envelopeRecipientRejectOnBehalfOf(
        request: Documenso.EnvelopeRecipientRejectOnBehalfOfEnvelopeRecipientsRequest,
        requestOptions?: EnvelopeRecipientsClient.RequestOptions,
    ): core.HttpResponsePromise<Documenso.EnvelopeRecipientRejectOnBehalfOfEnvelopeRecipientsResponse> {
        return core.HttpResponsePromise.fromPromise(this.__envelopeRecipientRejectOnBehalfOf(request, requestOptions));
    }

    private async __envelopeRecipientRejectOnBehalfOf(
        request: Documenso.EnvelopeRecipientRejectOnBehalfOfEnvelopeRecipientsRequest,
        requestOptions?: EnvelopeRecipientsClient.RequestOptions,
    ): Promise<core.WithRawResponse<Documenso.EnvelopeRecipientRejectOnBehalfOfEnvelopeRecipientsResponse>> {
        const { recipientId, ..._body } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.DocumensoEnvironment.Default,
                `envelope/recipient/${core.url.encodePathParam(recipientId)}/reject`,
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: mergeAdditionalBodyParameters(
                serializers.EnvelopeRecipientRejectOnBehalfOfEnvelopeRecipientsRequest.jsonOrThrow(_body, {
                    unrecognizedObjectKeys: "strip",
                    omitUndefined: true,
                }),
                requestOptions?.additionalBodyParameters,
            ),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: serializers.EnvelopeRecipientRejectOnBehalfOfEnvelopeRecipientsResponse.parseOrThrow(
                    _response.body,
                    {
                        unrecognizedObjectKeys: "passthrough",
                        allowUnrecognizedUnionMembers: true,
                        allowUnrecognizedEnumValues: true,
                        breadcrumbsPrefix: ["response"],
                    },
                ),
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new Documenso.BadRequestError(
                        serializers.ErrorBadRequest.parseOrThrow(_response.error.body, {
                            unrecognizedObjectKeys: "passthrough",
                            allowUnrecognizedUnionMembers: true,
                            allowUnrecognizedEnumValues: true,
                            breadcrumbsPrefix: ["response"],
                        }),
                        _response.rawResponse,
                    );
                case 401:
                    throw new Documenso.UnauthorizedError(
                        serializers.ErrorUnauthorized.parseOrThrow(_response.error.body, {
                            unrecognizedObjectKeys: "passthrough",
                            allowUnrecognizedUnionMembers: true,
                            allowUnrecognizedEnumValues: true,
                            breadcrumbsPrefix: ["response"],
                        }),
                        _response.rawResponse,
                    );
                case 403:
                    throw new Documenso.ForbiddenError(
                        serializers.ErrorForbidden.parseOrThrow(_response.error.body, {
                            unrecognizedObjectKeys: "passthrough",
                            allowUnrecognizedUnionMembers: true,
                            allowUnrecognizedEnumValues: true,
                            breadcrumbsPrefix: ["response"],
                        }),
                        _response.rawResponse,
                    );
                case 500:
                    throw new Documenso.InternalServerError(
                        serializers.ErrorInternalServerError.parseOrThrow(_response.error.body, {
                            unrecognizedObjectKeys: "passthrough",
                            allowUnrecognizedUnionMembers: true,
                            allowUnrecognizedEnumValues: true,
                            breadcrumbsPrefix: ["response"],
                        }),
                        _response.rawResponse,
                    );
                default:
                    throw new errors.DocumensoError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "POST",
            "/envelope/recipient/{recipientId}/reject",
        );
    }
}
