// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../BaseClient.js";
import { normalizeClientOptionsWithAuth, type NormalizedClientOptionsWithAuth } from "../../../../BaseClient.js";
import * as core from "../../../../core/index.js";
import { mergeHeaders } from "../../../../core/headers.js";
import { mergeAdditionalBodyParameters } from "../../../../core/requestBody.js";
import * as environments from "../../../../environments.js";
import { handleNonStatusCodeError } from "../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../errors/index.js";
import * as serializers from "../../../../serialization/index.js";
import * as Documenso from "../../../index.js";

export declare namespace EmbeddingClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

export class EmbeddingClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<EmbeddingClient.Options>;

    constructor(options: EmbeddingClient.Options) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    /**
     * Creates a presign token for embedding operations with configurable expiration time
     *
     * @param {Documenso.EmbeddingPresignCreateEmbeddingPresignTokenEmbeddingRequest} request
     * @param {EmbeddingClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Documenso.BadRequestError}
     * @throws {@link Documenso.UnauthorizedError}
     * @throws {@link Documenso.ForbiddenError}
     * @throws {@link Documenso.InternalServerError}
     *
     * @example
     *     await client.embedding.embeddingPresignCreateEmbeddingPresignToken()
     */
    public embeddingPresignCreateEmbeddingPresignToken(
        request: Documenso.EmbeddingPresignCreateEmbeddingPresignTokenEmbeddingRequest = {},
        requestOptions?: EmbeddingClient.RequestOptions,
    ): core.HttpResponsePromise<Documenso.EmbeddingPresignCreateEmbeddingPresignTokenEmbeddingResponse> {
        return core.HttpResponsePromise.fromPromise(
            this.__embeddingPresignCreateEmbeddingPresignToken(request, requestOptions),
        );
    }

    private async __embeddingPresignCreateEmbeddingPresignToken(
        request: Documenso.EmbeddingPresignCreateEmbeddingPresignTokenEmbeddingRequest = {},
        requestOptions?: EmbeddingClient.RequestOptions,
    ): Promise<core.WithRawResponse<Documenso.EmbeddingPresignCreateEmbeddingPresignTokenEmbeddingResponse>> {
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.DocumensoEnvironment.Default,
                "embedding/create-presign-token",
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: mergeAdditionalBodyParameters(
                serializers.EmbeddingPresignCreateEmbeddingPresignTokenEmbeddingRequest.jsonOrThrow(request, {
                    unrecognizedObjectKeys: "strip",
                    omitUndefined: true,
                }),
                requestOptions?.additionalBodyParameters,
            ),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: serializers.EmbeddingPresignCreateEmbeddingPresignTokenEmbeddingResponse.parseOrThrow(
                    _response.body,
                    {
                        unrecognizedObjectKeys: "passthrough",
                        allowUnrecognizedUnionMembers: true,
                        allowUnrecognizedEnumValues: true,
                        breadcrumbsPrefix: ["response"],
                    },
                ),
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new Documenso.BadRequestError(
                        serializers.ErrorBadRequest.parseOrThrow(_response.error.body, {
                            unrecognizedObjectKeys: "passthrough",
                            allowUnrecognizedUnionMembers: true,
                            allowUnrecognizedEnumValues: true,
                            breadcrumbsPrefix: ["response"],
                        }),
                        _response.rawResponse,
                    );
                case 401:
                    throw new Documenso.UnauthorizedError(
                        serializers.ErrorUnauthorized.parseOrThrow(_response.error.body, {
                            unrecognizedObjectKeys: "passthrough",
                            allowUnrecognizedUnionMembers: true,
                            allowUnrecognizedEnumValues: true,
                            breadcrumbsPrefix: ["response"],
                        }),
                        _response.rawResponse,
                    );
                case 403:
                    throw new Documenso.ForbiddenError(
                        serializers.ErrorForbidden.parseOrThrow(_response.error.body, {
                            unrecognizedObjectKeys: "passthrough",
                            allowUnrecognizedUnionMembers: true,
                            allowUnrecognizedEnumValues: true,
                            breadcrumbsPrefix: ["response"],
                        }),
                        _response.rawResponse,
                    );
                case 500:
                    throw new Documenso.InternalServerError(
                        serializers.ErrorInternalServerError.parseOrThrow(_response.error.body, {
                            unrecognizedObjectKeys: "passthrough",
                            allowUnrecognizedUnionMembers: true,
                            allowUnrecognizedEnumValues: true,
                            breadcrumbsPrefix: ["response"],
                        }),
                        _response.rawResponse,
                    );
                default:
                    throw new errors.DocumensoError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "POST",
            "/embedding/create-presign-token",
        );
    }

    /**
     * Verifies a presign token for embedding operations and returns the associated API token
     *
     * @param {Documenso.EmbeddingPresignVerifyEmbeddingPresignTokenEmbeddingRequest} request
     * @param {EmbeddingClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Documenso.BadRequestError}
     * @throws {@link Documenso.UnauthorizedError}
     * @throws {@link Documenso.ForbiddenError}
     * @throws {@link Documenso.InternalServerError}
     *
     * @example
     *     await client.embedding.embeddingPresignVerifyEmbeddingPresignToken({
     *         token: "token"
     *     })
     */
    public embeddingPresignVerifyEmbeddingPresignToken(
        request: Documenso.EmbeddingPresignVerifyEmbeddingPresignTokenEmbeddingRequest,
        requestOptions?: EmbeddingClient.RequestOptions,
    ): core.HttpResponsePromise<Documenso.EmbeddingPresignVerifyEmbeddingPresignTokenEmbeddingResponse> {
        return core.HttpResponsePromise.fromPromise(
            this.__embeddingPresignVerifyEmbeddingPresignToken(request, requestOptions),
        );
    }

    private async __embeddingPresignVerifyEmbeddingPresignToken(
        request: Documenso.EmbeddingPresignVerifyEmbeddingPresignTokenEmbeddingRequest,
        requestOptions?: EmbeddingClient.RequestOptions,
    ): Promise<core.WithRawResponse<Documenso.EmbeddingPresignVerifyEmbeddingPresignTokenEmbeddingResponse>> {
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.DocumensoEnvironment.Default,
                "embedding/verify-presign-token",
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: mergeAdditionalBodyParameters(
                serializers.EmbeddingPresignVerifyEmbeddingPresignTokenEmbeddingRequest.jsonOrThrow(request, {
                    unrecognizedObjectKeys: "strip",
                    omitUndefined: true,
                }),
                requestOptions?.additionalBodyParameters,
            ),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: serializers.EmbeddingPresignVerifyEmbeddingPresignTokenEmbeddingResponse.parseOrThrow(
                    _response.body,
                    {
                        unrecognizedObjectKeys: "passthrough",
                        allowUnrecognizedUnionMembers: true,
                        allowUnrecognizedEnumValues: true,
                        breadcrumbsPrefix: ["response"],
                    },
                ),
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new Documenso.BadRequestError(
                        serializers.ErrorBadRequest.parseOrThrow(_response.error.body, {
                            unrecognizedObjectKeys: "passthrough",
                            allowUnrecognizedUnionMembers: true,
                            allowUnrecognizedEnumValues: true,
                            breadcrumbsPrefix: ["response"],
                        }),
                        _response.rawResponse,
                    );
                case 401:
                    throw new Documenso.UnauthorizedError(
                        serializers.ErrorUnauthorized.parseOrThrow(_response.error.body, {
                            unrecognizedObjectKeys: "passthrough",
                            allowUnrecognizedUnionMembers: true,
                            allowUnrecognizedEnumValues: true,
                            breadcrumbsPrefix: ["response"],
                        }),
                        _response.rawResponse,
                    );
                case 403:
                    throw new Documenso.ForbiddenError(
                        serializers.ErrorForbidden.parseOrThrow(_response.error.body, {
                            unrecognizedObjectKeys: "passthrough",
                            allowUnrecognizedUnionMembers: true,
                            allowUnrecognizedEnumValues: true,
                            breadcrumbsPrefix: ["response"],
                        }),
                        _response.rawResponse,
                    );
                case 500:
                    throw new Documenso.InternalServerError(
                        serializers.ErrorInternalServerError.parseOrThrow(_response.error.body, {
                            unrecognizedObjectKeys: "passthrough",
                            allowUnrecognizedUnionMembers: true,
                            allowUnrecognizedEnumValues: true,
                            breadcrumbsPrefix: ["response"],
                        }),
                        _response.rawResponse,
                    );
                default:
                    throw new errors.DocumensoError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "POST",
            "/embedding/verify-presign-token",
        );
    }
}
